/*media*/
@media (max-width: 1160px) {
  .container{
    width: 100%;
  }
}

@media(max-width: 991px){
  html{
    font-size: 7px;
  }
  .main{
  height: 50vh;
  }

  .get-started-btn{
    margin: 0px;
  }
  .price-tags{
    flex-direction: column;
  }
  .price-tag{
       width: 90%;
       margin: 2rem auto;
  }
  .footer-menu{
    display: none;
  }
  .footer{
    justify-content: center;
  }
  .legal{
  flex-direction: column;
  }
  .social-links a{
    font-size:3rem;
    padding-bottom: 5rem;
  }
  .social-links{
    padding-top: 3rem;
  }
  .table{
    padding: .5rem;
  }

}
@media(max-width: 880px){
  .left{
    flex-basis: 100%;
    padding: 0;
  }
  .right{
    flex-basis: 100%;
    padding: 0;
  }
  .right .photo img{
 

  }
}
@media(max-width: 768px){
    nav{
    display: none;
  }
    .m-nemu-link{
    display: block;
  }
  
  .header-main{
    flex-grow: 0;
  }
}
@media(min-width: 768px){
  .m-nemu-link{
    display: none;
}



@media (max-width: 500px){


  .skills{
    padding: 100px 5px;
  }
}




@media (max-width: 390px){
  .item img{
    width: 100%;
    height: auto;
  }
}


@media (max-width: 320px){
  .header  h1{
    font-size: 4.6rem;
  }
  .header  p{
    font-size: 2.8rem;
    margin-top: 15px;
  }
  .header-arrow{
    bottom: 30px;
  }
  .portfolio p{
    margin: 0;
  }
  .footer h4{
    margin-bottom: 20px;
  }
  .footer p{
    margin-bottom: 20px;
  }
  .social{
    margin: 0;
  }
  .btn-contact{
    margin-bottom: 30px;
  }
  .footer-info{
    text-align: center;
  }
}


@media (max-width: 674px){
 .footer-info{
    text-align: center;
  }
}








