
*,
*:before,
*:after{
-webkit-box-sizing: border-box;
box-sizing: border-box;
outline: none;
}
body{
	margin: 0;
	font-family: 'Roboto', sans-serif;

}
html,body{
	font-size: 10px;
	line-height: 1.5;
}
h1,h2,h3,h4,p{
	margin: 0;
}
img{
	display: inline-block;
}

/*grid*/
.container{
	width: 1140px;
	margin: 0 auto;
}

/*end grid*/

.wrapper{
	overflow-x: hidden !important;
}
.header-main{
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;

}
nav {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	margin:  10px  10px  0 auto;
	
}
nav ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}
nav ul li{
	margin-right: 30px;
	font-size: 2.6rem;
	
	list-style: none;
}
nav ul li a{
	text-decoration: none;
	font-weight: 400;
	color: #fff;
	-webkit-transition: .5s;
	transition: .5s;
}
nav ul li a:hover{
	color: #f90;

}


/*mob*/
.m-nemu-link{
	display: none;
	height: 40px;
	width: 40px;
	cursor: pointer;
	position: fixed;
	right: 5rem;
	top: 5rem;
}
.m-nemu-link-line{
	width: 100%;
	height: 2px;
	background-color: #fff;
	position: relative;
	-webkit-transition: .5s;
	transition: .5s;
}
.m-nemu-link-line:before{
	content: "";
	position: absolute;
	display: block;
	top: 10px;
	left: 0px;
	width: 100%;
	height: 2px;
	background-color:  #fff;
	-webkit-transition: .5s;
	transition: .5s;
}
.m-nemu-link-line:after{
		content: "";
	position: absolute;
	display: block;
	top: 20px;
	left: 0px;
	width: 100%;
	height: 2px;
	background-color: #fff;
	-webkit-transition: .5s;
	transition: .5s;
}


.m-nemu-link:taeget .m-nemu-link-line:before {
	-webkit-transform: rotate(130deg);
	transform: rotate(130deg);
	-webkit-transition: .5s;
	transition: .5s;
}
.m-nemu-link:taeget .m-nemu-link-line:after {
	-webkit-transform: rotate(50deg);
	transform: rotate(50deg);
	top:10px;
	-webkit-transition: .5s;
	transition: .5s;
}










/*end mob*/





.header{
	background: #343c4e;
	background: url(../img/header-bg.jpg) no-repeat center center;
	height: 100vh;
	background-size: cover;
	color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center; 
	-webkit-box-pack: center; 
	-ms-flex-pack: center; 
	justify-content: center;
	position: relative;
}
.header h1{
	font-size: 7.6rem;
	margin-top: -50px;
	
}
.header p{	
	font-size: 3.8rem;
	margin-top: 50px;
	line-height: 6.2rem;
}
.header-arrow{
	height: 50px;
	width: 50px;
	margin-left: -25px;
	font-size: 5rem;
	position: absolute;
	bottom: 70px;;
	left: 50%;
	
}
.header-arrow a{
	color: #fff;
	text-decoration: none;
}

.header-arrow{
	
	-webkit-animation: 1.2s ease-out .5s  infinite animation;
	
	animation: 1.2s ease-out .5s  infinite animation;
}
@-webkit-keyframes animation {
	0%, 50%, 100% {
		
		-webkit-transform: translateX(-30px -30px	);
		
		transform: translateX(-30px -30px	);
	}
	10%, 30% {
		
		-webkit-transform: translateY(20px );
		
		transform: translateY(20px );
	}
}
@keyframes animation {
	0%, 50%, 100% {
		
		-webkit-transform: translateX(-30px -30px	);
		
		transform: translateX(-30px -30px	);
	}
	10%, 30% {
		
		-webkit-transform: translateY(20px );
		
		transform: translateY(20px );
	}
}





/* PORTFOLIO */


.container-portfolio{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	
}
.more{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-top: 20px;

		
}
.more-active{


}
.see-more{
	font-size: 3.6rem;
	font-weight: 300;
	cursor: pointer;
	-webkit-transition: .5s;
	transition: .5s;

}



.see-more:hover{
	color: #f90;
}

.item{
	margin: 10px;

	-webkit-box-flex: 1;

	-ms-flex-positive: 1;

	flex-grow: 1;

	-ms-flex-preferred-size: 30%;

	flex-basis: 30%;
	min-width: 200px;

}
.portfolio{
	padding-bottom: 50px;
}

.item{
	margin-bottom: 40px;
	-webkit-transition: .5s;
	transition: .5s;
	overflow: hidden;
	padding-bottom: 10px;
	-webkit-box-shadow: 0px 0px 20px 1px rgb( 204, 204, 223 );
	box-shadow: 0px 0px 20px 1px rgb( 204, 204, 223 );
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;

}
.item:hover{	
	-webkit-box-shadow: 0px 0px 60px 10px rgb( 204, 204, 223 );	
	box-shadow: 0px 0px 60px 10px rgb( 204, 204, 223 );
}
.inner-item{
	padding:0 20px;
	
}

.portfolio h2{
	font-size: 4.6rem;
	margin: 30px 0;
	text-align: center;
	font-weight: 400;
}

.portfolio img{
	width: 100%;
	margin-bottom: 10px;

}
.portfolio  a{
	font-size: 2.4rem;
	margin-bottom: 5px;
	color: #000;
	text-decoration: none;
	-webkit-transition: .2s;
	transition: .2s;
	font-weight: 500;

}

.portfolio a:hover{
	color: #f90;
}
.portfolio p{
	font-size: 1.6rem;
	font-weight: 400;

	
}

/*FOOTER
*/

.footer-info{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.footer-item{
	margin: 10px;
	-ms-flex-negative: 1;
	flex-shrink: 1;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-preferred-size: 30%;
	flex-basis: 30%;
	min-width: 200px;
}


.footer{
	width: 100%;
	color: #6479a2;
	padding: 90px 0 130px 0;
	background-color: #061634;
}
.footer p{
	font-size: 1.6rem;
	margin-bottom: 10px;

}
.footer h4{
	margin-bottom: 10px;
	font-size: 2.8rem;
}

.social{
	color: #fff;
}


.social-icons a{
	margin-right: 30px;
	text-decoration: none;	
	color: #fff;
	font-size: 3.2rem;
	-webkit-transition: .5s;
	transition: .5s;
}
.social-icons a:last-child{
	margin: 0;
}
.social-icons a:hover{
	color: #f90;
}

.btn-contact {
	display: inline-block;
    padding: 9px 42px;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 700;
    border: 2px solid #fff;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.6rem;
    margin-bottom: 14px;
    -webkit-transition: .5s;
    transition: .5s;
}

.btn-contact:hover{
	background: #f90;
	border-color: #f90;
}






/*
MOBILE MENU*/


/*.m-nemu-link{
	height: 40px;
	width: 40px;
	cursor: pointer;
	position: fixed;
	right: 5rem;
	top: 5rem;
}
.m-nemu-link-line{
	width: 100%;
	height: 2px;
	background-color: lightgrey;
	position: relative;
	-webkit-transition: .5s;
	transition: .5s;
}
.m-nemu-link-line:before{
	content: "";
	position: absolute;
	display: block;
	top: 10px;
	left: 0px;
	width: 100%;
	height: 2px;
	background-color:  lightgrey;
	-webkit-transition: .5s;
	transition: .5s;
}
.m-nemu-link-line:after{
	content: "";
	position: absolute;
	display: block;
	top: 20px;
	left: 0px;
	width: 100%;
	height: 2px;
	background-color: lightgrey;
	-webkit-transition: .5s;
	transition: .5s;
}


.m-nemu-link:hover .m-nemu-link-line:before {
	width:80%;
	
}*/



.close-menu{
	height: 40px;
	width: 40px;
	cursor: pointer;
	position: fixed;
	right: 5rem;
	top: 5rem;
}
.close-menu:hover{
	cursor: pointer;
}
.close-menu-line{
	width: 100%;
	height: 2px;
	background-color: #fff;
	position: relative;
	-webkit-transition: .5s;
	transition: .5s;

}

.close-menu-line:before{
	content: "";
	position: absolute;
	display: block;
	top: 10px;
	left: 0px;
	width: 100%;
	height: 2px;
	background-color:  #fff;


}
.close-menu-line:after{
	content: "";
	position: absolute;
	display: block;
	top: 20px;
	left: 0px;
	width: 100%;
	height: 2px;
	background-color: #fff;
	-webkit-transition: .5s;
	transition: .5s;

}
.close-menu:hover .close-menu-line{
	background-color: transparent;

}
.close-menu:hover .close-menu-line:before {
	-webkit-transform: rotate(130deg);
	transform: rotate(130deg);
	-webkit-transition: .5s;
	transition: .5s;
}
.close-menu:hover .close-menu-line:after {
	-webkit-transform: rotate(50deg);
	transform: rotate(50deg);
	top:10px;
	-webkit-transition: .5s;
	transition: .5s;
}


.m-menu{
	position: fixed;
	right: 0;
	top: 0;
	height: 100vh;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	list-style: none;
	font-size: 3rem;
	line-height: 8rem;
	background-color: #6479a2;
	margin: 0;
	z-index: 999;
	padding: 0;
	-webkit-transition: .2s;
	transition: .2s;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	opacity: .2;

}

.m-menu li a{
	color: #fff;
	text-decoration: none;
	font-size: 3.6rem;
	text-transform: uppercase;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	font-weight: 300;
}
.m-menu li a:hover{
	color: #f90;
}

.m-nemu-link{
	display: none;
}

.m-menu_active{
	opacity: 1;
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
}





.content{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;


}
.content h2{
	font-size: 3.5rem;
	text-align: center;
}
.skills{
	padding: 100px 50px;
	-webkit-box-shadow: 20px 0px 31px rgba(203, 203, 203, 0.5);
	box-shadow: 20px 0px 31px rgba(203, 203, 203, 0.5);
	background: #f9f9f9;
}
.skills *{

}

.left{
	margin: 10px;
	-ms-flex-negative: 1;
	flex-shrink: 1;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-preferred-size: 30%;
	flex-basis: 30%;
	min-width: 200px;
	padding-right: 50px;
}

.right{
	margin: 10px;
	-ms-flex-negative: 1;
	flex-shrink: 1;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-preferred-size: 30%;
	flex-basis: 30%;
	min-width: 200px;
	padding-left: 50px;
}
.skills-Content{
	position: relative;
	font-size: 2rem;
	margin: 20px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.skills-Content::before{
	content: "";
	position: absolute;
	background: #000;
	height: 5px;
	width: 70%;
    z-index: 200;
	top: 30px;
    left: 0;
    z-index: 555;
}

.skills-Content::after{
	content: "";
	position: absolute;
	background: #bcbcbc;
	height: 5px;
	width: 100%!important;
    z-index: 200;
    top: 30px;
    left: 0;

}
.css-Content::before{
	width: 71%;

}
.less-Content::before{		
	width: 35%;

}
.angular-Content::before{		
	width: 15%;

}
.bootstrap-Content::before{
	width: 55%;
}
.git-Content::before{
	width: 60%;
}
.gulp-Content::before{
	width: 55%;
}
.js-Content::before{
	width: 43%;
}



.about h3{
	font-size: 3.5rem;
	text-align: center;
}
.about p{
	font-size: 1.6rem;
	margin-top: 20px;
}
.about img{
	border-radius: 50%;
	float: right;
	width: 50%;
	border: 5px solid #bcbcbc;

}







/*RESUME PAGE*/
.wrapper-cv{
	background: #f9f9f9;
}
.wrapper-cv h3{
	font-size: 2.6rem;
	text-align: center;
}
.wrapper-cv h4{
	font-size: 2rem;
}
.wrapper-cv h5{
	font-size: 2.6rem;
	margin: 0;
}
.wrapper-cv section{
	padding: 50px 20px;
}

.r-about img{
	border-radius: 20px;
}
.header-line{
	height: 30px;
	width: 100%;
	background: lightgrey;
	text-align: center;
}
.header-line a{
	text-decoration: none;
	color: #000;
	font-size: 2rem;
	-webkit-transition: .5s;
	transition: .5s;
}
.header-line a:hover{
	color: #f90;
}

.r-about{
	padding: 50px 0;
}
.r-about{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
}
.r-about-details{
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.r-about h1{
	font-size: 5rem;

}
.r-about p{
	font-size: 2rem;
	line-height: 2;	
}
.r-about .r-social{
	font-weight: 700;
}

.r-social a{	
	font-size: 2.6rem;
	color: #000;
	margin-left: 5px;
	-webkit-transition: .5s;
	transition: .5s;
}
.r-social a:hover{
	color: #f90;
}

.r-wiw p{
	font-size: 2rem;

}
.r-wiw ul li{
	font-size: 2rem;
}
.r-wiw h4{
	font-weight: 900;
}



.grey{
	color: grey;
}
.exp-details{
	padding-bottom: 30px;
	position: relative;
}
.exp-details:after{
	content: "";
	display: table;
	height: 1px;
	width: 100%;
	left: 0;
	bottom: 0;
	background: grey;
	opacity: .5;
}



.r-education p{
	font-size: 2rem;
	line-height: 2;
}
.r-skills ul li{
	font-size: 2rem;
	line-height: 2;
}
.experience p{
	font-size: 2rem;
	line-height: 1.6;
}
.lang p{
	font-size: 2rem;
}
.abou-me p{
	font-size: 2rem;
}