<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700,900" rel="stylesheet"> 
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="js/chance.js"></script>



</head>
<body>
    <section class="products"  >
        <div class="container"  ng-class="{'app-loaded': true}"> 
            <p>Sort Type: {{ name }}</p>
            <div  class="sor">
                <span  >Sort by:</span>
                
                <span class="sort-max" ng-click="orderProperty = '-price'"   ><i class="fa fa-sort-amount-desc" ></i>
                </span>

                <span class="sort-min" ng-model="max" ng-click="orderProperty = 'price'" ><i class="fa fa-sort-amount-asc" ></i>
                </span>

                <span class="sort-col" >
                    <i class="fa fa-list"></i>
                </span>
                <span class="sort-row" >
                    <i class="fa fa-th" ></i>
                </span>
            </div>

            <div class="items-grid" ng-controller="StoreController as store">   

                <div class="item" ng-repeat="product in store.products | orderBy : orderProperty">      

                 <product-title></product-title>

                 <product-gallery class="gallery" ng-controller="GalleryController as gallery"  ng-show="product.images.length ">
                 </product-gallery>



                 <button class="btn-buy" >Buy</button>

                 <product-panels></product-panels>
             </div>   
         </div>

     </section>
     <script src="js/main.js"></script> 
 </body>
 </html>